name: Cache Demo

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prime Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/demo
          key: cache-42b4b9e

      - name: prime-cache-42b4b9e
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"

      - name: Create cache content
        run: |
          mkdir -p ~/.cache/demo
          echo "Cached content" > ~/.cache/demo/data.txt
